.hero-form {
    background-color: #f1efef;
    padding: 40px 30px;
    border-radius: 12px;
    margin: 0px 50px;

    @media (max-width: 1200px) {
        margin: 20px 15px;
        background-color: rgba(241, 239, 239, 0.6);
    }

    .text {
        text-align: center;

        h3 {
            max-width: 800px;
            margin: 0 auto;
            font-size: 55px;
            line-height: 60px;

            @media (max-width: 1200px) {
                font-size: 30px !important;
                line-height: 35px;
            }

            span {
                color: #fc3f13;
                width: 5px;
            }

            margin: 0px !important;
        }

        p {
            color: #333;
            margin: 20px auto;
            max-width: 500px;

            @media (max-width: 767px) {
                line-height: 25px;
            }
        }
    }

    .membership-levels {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas:
            ". .";

        @media (max-width: 1200px) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
                "."
                ".";
            max-height: min-content !important;
            height: fit-content !important;
        }

        .title {
            display: grid;
            place-items: center;

            h4 {
                margin: 0 !important;
                text-transform: uppercase;

                @media (max-width: 767px) {
                    box-shadow: 0 0 0 -4px #fc3f13 !important;
                }
            }
        }

        .features {

            @media (max-width: 767px) {
                margin: 0 auto;
                height: fit-content;
            }

            ul {
                list-style: none;
                box-shadow: -4px 0px 0px 0px #fc3f13;

                @media (max-width: 767px) {
                    margin: -1rem 0 1rem 0;
                }

                li {
                    position: relative;
                    margin: 10px 0 10px 30px;
                    color: #333;
                }

                li::before {
                    content: '▶';
                    font-size: 10px;
                    color: #333;
                    position: absolute;
                    top: 4px;
                    left: -15px;
                }
            }
        }
    }

    .form {

        @media (max-width: 1200px) {
            width: 90%;
            margin: 0 auto;
        }

        .fields {



            .name,
            .email-wrapper {
                display: flex;
                margin: 10px 0;




                label {
                    font-family: 'industry' !important;
                    line-height: 43px;
                    font-weight: 900;
                    margin-right: 20px;
                    color: #1E1C21;
                    text-transform: uppercase;
                    white-space: nowrap;


                    @media (max-width: 767px) {
                        line-height: 35px;
                        margin-right: 15px;
                    }
                }

                input {
                    padding: 0px;
                    margin: 0px !important;
                    border: none;

                    @media (max-width: 767px) {
                        height: 30px;
                        width: 75%;
                    }
                }
            }

            .name.last {
                label {
                    margin-right: 25px;
                }
            }

            .email-wrapper {
                label {
                    margin-right: 17px;

                    @media (max-width: 767px) {
                        line-height: 35px;
                        margin-right: 15px;
                    }
                }
            }

            @media (max-width: 1200px) {
                align-items: center;

                .name,
                .email-wrapper {
                    flex-direction: column;
                    margin: 0 auto;
                }

                label {
                    margin-right: 0px !important;
                    min-width: 100%;
                }

                input {
                    width: 100%;
                    min-width: 100%;
                }
            }
        }

        .button-wrapper {
            width: 100%;
            display: grid;
            place-items: center;

            @media (max-width: 767px) {
                margin: 0 auto;
            }

            button {
                margin: 20px auto;
            }

            button {
                background-color: #fc3f14;
                border: 2px solid #fc3f14;
                padding: 10px 30px;
                color: white;
                text-transform: uppercase;
                margin-top: 20px;
                text-align: center;
                transition: 0.3s all;
                font-family: "industry";
                font-weight: 900;

                &:hover {
                    background-color: white;
                    color: #fc3f14;
                    border: 2px solid #fc3f14;
                    transition: 0.3s all;
                    cursor: pointer;
                }

                &.disabled {
                    background-color: #fc3f14;
                    opacity: 0.5;
                    border: 2px solid #fc3f14;
                    padding: 10px 30px;
                    color: white;
                    text-transform: uppercase;
                    margin-top: 20px;
                    text-align: center;
                    transition: 0.3s all;
                }
            }
        }
    }

    .error {
        margin-top: 20px;
        color: #333;
        text-align: center;
    }
}